.gradle
/local.properties
.idea/misc.xml
.DS_Store
/build
/captures
target
reports
.settings
.project
.classpath
bin
gen
proguard
.pmd
*~
*.iml
coverage
build/
local.properties
gradle/
gradlew
gradlew.bat
